@import "tailwindcss";

:root {
  --black: #040605;
  --brown: #2a1204;
  --white: #f7fee7;
  --red: #950d1b;
  --l-red: #ea665c;
  --yellow: #fee685;
  --l-yellow: #bcc1a9;
  --green: #0b8457;
  --l-green: #87ab9e;
  --blue: #123a7d;
  --l-blue: #6e85b2;
  --purple: #4d197a;
  --l-purple: #9676b5;
  --pink: #e6b2a6;
  --l-pink: #f4d1c6;
  --orange: #f9a03f;
  --l-orange: #f5cb93;
  --gray: #a0b1b8;
  --d-gray: #131315;
}
html {
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--d-gray);
}
body {
  margin: 0 auto;
  color: var(--gray);
  font-family: "Lato", sans-serif;
}
.btn:hover {
  box-shadow: 0 0 0.25rem 2px var(--gray);
}
